/**
 * This css is responsible for all the pages
 * Custom modification for all the pages
 * Written by Lathangi Ganesh March 09, 2018
 */

/**************Side bar*******************/
#site-colors {
  display:none;
}

.sidebar .block {
  /*background: linear-gradient(#fff, #fafafa);*/
  border: 0px solid #eee;
  padding: 15px 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0px;
}

.sidebar h2 {
  border-radius: 0px;
  border-bottom: 1px solid #eee;
}

/*This is local WDL style */
/*
#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
  max-width: 100%;
}
*/

#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
  max-width: 99%;
}

/******footer *************/

#page-wrapper, #footer-wrapper {
  background-color: #474746;
}

#footer a {
  color: #fff;
}

body .front .footer_cus {
  width:1290px;
}


.footer-left-logo {
  float: left;
  width: 33%;
  text-align: left;
}

.footer-text {
  display: inline-block; width: 33%;
}

.footer-right-logo {
  float: right;
  width: 33%;
  text-align: right;
}

#footer-wrapper img {
  max-width: 40%;
  height: auto;
  border: 0;
}

#footer-wrapper {
  padding: 1px 0 16px;
  height: 130px;
  background: #474746;
}

#footer {
  text-align: center;
  margin:auto;
  border:none;
  color: #fff;
  max-width: 100%;
}
/*****************footer end************/


#main {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top:0px;
}

#main-menu {
  clear: both;
  background: #474746;
}

#main-menu-links li a{
  background: #474746;
  color: #fff;
  border-radius:0px;
  text-shadow:none;
}

.featured #main-menu-links li a:active, .featured #main-menu-links li a.active {
  background: #f0f0f0;
  /*background: rgba(237, 230, 212);*/
}

#main-menu-links li a:hover {
  background: #fff;
  /* background-color: rgb(237, 230, 212);*/
  background: #f0f2ef;
  color: #000;
}

#main-menu-links li a.active, #main-menu-links li.active-trail a {
  background-color: #f6f6f2;
  color: #000;
}

#main-menu-links a:hover, #main-menu-links a:focus {
  background: #f6f6f2;
  color: #000;
  /*background: rgba(255, 255, 255, 0.95);*/
}

.breadcrumb {
  font-size: 0.929em;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#header {
  /*background-color: rgb(237, 230, 212);*/
  background-color: #000;
  background-image:none;
  padding-top: 20px;
}

#logo {
  background: rgba(0, 0, 0, 0) url("https://uwaterloo.ca/library/profiles/uw_base_profile/themes/uw_fdsu_theme_resp/images/rwd/uwaterloo-logo.svg") no-repeat scroll 0 center / contain;
  display: inline-block;
  height: 2.5rem;
  margin-left: -8px;
  margin-top: 10px;
  overflow: hidden;
  text-indent: -999em;
  width: 11rem;
  padding-bottom:0px;
  margin-left:10px;
}

#name-and-slogan {
  padding: 17px 0 0;
  margin: 7px 0px 28px 42px;
}

/***************Compound object*****************************/
#block-islandora-compound-object-compound-jail-display .content a{
  color: #000;
}
#block-islandora-compound-object-compound-jail-display .content a:hover {
  color: #fff;
}

#block-islandora-compound-object-compound-jail-display .content img {
  margin: 0.5em 0.5em 1em 0;
  max-width: 70%;
  border-bottom: 0px dotted #ccc;
  padding-bottom: 1em;
}

#block-islandora-compound-object-compound-jail-display > div {
  border-bottom: 0px dotted #ccc;
  padding-bottom: 1em;
  padding-right: 10px;
}

.sidebar #block-islandora-compound-object-compound-jail-display {
  height: auto;
  width: auto;
  min-height: 400px;
  max-height: 1100px;
}

.islandora-compound-object-jail-active {
  border: 0em solid;
}

.displayregion {
  border: 0px solid rgb(153, 0, 0) !important;
}

.sidebar #block-islandora-compound-object-compound-jail-display {
  height: auto;
  width: auto;
  min-height: 400px;
  max-height: 1100px;
  overflow: auto;
}

/******Search form****************/
#islandora-solr-simple-search-form .form-item label {
  display:none;
}

input.form-submit, a.button {
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.7);
}

/**************************/

/*
.islandora-openseadragon {
  display: block;
  width: 100%;
  height: 500px;
  max-width: 938px !important;
}
*/
#content {
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);*/
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/**********to expand field set ****************/
html.js fieldset.collapsed .fieldset-wrapper {
  display: block;
}

html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height:100%;
  border: 1px solid #cccccc;
  border-radius: 11px;
}

fieldset legend {
        width:100.3%;
}

fieldset {
  top:0px;
}

/**********By LG************/
.item-list ul li {
  margin: 0;
  padding: 0.9em 0.5em 0 0;
}

.islandora-large-image-content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  max-width: 1000px !important;
  /*max-width: 938px !important;*/
  height:auto;
  margin: auto;
}

hr {
  border: 1px solid #eee;
}

.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  width: 210px;
  height: 27px;
  padding: 5px;
  padding-bottom: 0px;
}

.sidebar .block {
  border: 0px solid #eee;
  padding: 15px 20px;
   margin: 0 0 20px;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0px;
  background: linear-gradient(to left, #fff, #fafafa);
}

.islandora-video-content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 886px;
  margin-top: 25px;
  float:none;
  margin-left: auto;
  margin-right: auto;
}

h1#page-title {
  font-size: 22px;
  line-height: 1;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*
.front h1#page-title {
  font-size: 22px;
  line-height: 1;
  padding-bottom: 0px;
}
*/

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

#footer-wrapper img {
  max-width: 40%;
  height: auto;
  border: 0;
}

.item-list .pager {
  background: #f7f7f7 none repeat scroll 0 0;
  /*border: 1px solid #dbdbdb;*/
  height:35px;
  border-radius: 5px;
  clear: both;
  text-align: center;
}

.solr-fields dt, .solr-fields dd {
  border-top: 0px solid #ddd;
}

#islandora-solr-simple-search-form input.form-submit, a.button {
  font-size: 1.2em;
  padding: 5px 17px;
  padding-bottom: 2px;
}

.region.region-footer {
  background: #ccc;
  background: #474746;
}

.item-list .pager {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  clear: both;
  text-align: center;
  line-height:3px;
  height: 21px;
}

#islandora-solr-simple-search-form input, textarea {
  font-size: 1.1em;

}

#main {
  min-height: 625px;
}


.region-header .form-text {
  background: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  width: 222px !important;
  height: 30px;
  padding: 5px;
  padding-bottom: 1px;
}

#site-name a {
  font-weight: normal;
  text-decoration: none;
}

html.js fieldset.collapsed {
  height: auto;
  border: 1px solid #cccccc;
  border-radius: 11px;
}

#block-block-5 {
  visibility: hidden;
  margin-left: -340px;
  margin-top: 34px;
  width: 217px;
  height: 28px;
  background-color: rgb(204, 204, 204);
  padding-top: 3px;
  padding-left: 5px;
}

/*For Google chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #block-block-5 {
    margin-left: -332px;
  }

  #islandora-solr-simple-search-form input.form-submit, a.button {
    font-size: 1.2em;
    padding: 7px 16px;
    padding-bottom: 3px;
  }
}

#page-wrapper {
  background-color: #fff;
}

