/**
 * This is only for front page
 * This css is responsible for controlling size for screen
 * All the custom modification of media related css for front page
 * Written by Lathangi Ganesh March 09, 2018
 */

/******To support for the screen less than 500px ************/
@media only screen and (max-width: 500px) {
  .one-sidebar #content {
    width: 100%;
  }

  .footer_cus {
    width: 100%;
    margin: auto;
  }

  .views-slideshow-cycle-processed .views-slideshow-controls-bottom, .views-slideshow-cycle-processed .views-slideshow-controls-top {
    position:relative;
    margin-top: -37px;
   }

  .collection-value.dc-description {
    float: left;
    margin: 0px;
  }

  #sidebar-second {
    width: 100%;
    margin-left: 0px;
    clear: none;
  }

  html, body, #page {
    height: auto;
  }

} /* End of @media only screen and (max-width: 500px) */


/******To support for the screen size between 500px and 1192 ************/
@media (min-width:500px) and (max-width:1192px) {
  .one-sidebar #content {
    width: 100%;
  }

  .footer_cus {
    width: 100%;
    margin: auto;
  }

  #sidebar-second {
    width: 100%;
    margin-left: 0px;
    clear: none;
  }

  .views-field-field-slide-description {
    display:none;
  }

  .front h1#page-title {
    font-size: 22px;
    line-height: 1;
    padding-bottom: 0px;
    padding-top: 20px;
    display: none;
  }

  .views-slideshow-cycle-processed .views-slideshow-controls-bottom, .views-slideshow-cycle-processed .views-slideshow-controls-top {
    text-align: right;
    display: none;
  }

} /* End of @media (min-width:500px) and (max-width:1192px) */
