/**
 * This style is only for fron page
 * This css is responsible slider of the front page
 * All the custom modification of slider for fronpage can be found here
 * Written by Lathangi Ganesh March 09, 2018
 */

.views_slideshow_cycle_main {
  width: 100%;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}

.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
  text-align: left;
  letter-spacing: 0.07em;
}

/*
.views_slideshow_cycle_main .field-content img {
  display:block;
  margin:auto;
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
*/

.views_slideshow_cycle_main .field-content img {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 0px;
  /*-moz-border-radius: 50px;
  -webkit-border-radius: 0px; */
}


.views-slideshow-controls-bottom {
  text-align:center;
  width:90%;
  margin:auto;
}

.views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  display: inline-block;
  margin: 0 10px;
  padding: 3px;
  background: #0B9727;
  width: 30px;
}

.views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
  width: 30px;
  height:20px;
}

.views-slideshow-controls-bottom .views-slideshow-pager-field-item.active,
.views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover {
  background: #D15D17;
}

.views-field-field-slide-description {
  float: right;
  position: relative;
  z-index: 100;
  margin-bottom: -489px;
  width: 25%;
  /*font-size: 15px;*/
  font-size: 0.7em;
  text-align: left;
  background-color: #000;
  padding: 10px;
  height: 444px;
  color: #fff;
  text-shadow: none;
  opacity: 0.7;
  line-height:2;
}

.views-field-field-slide-title {
  float: left;
  background-color: #000;
  width: 100%;
  text-align: left;
  border-top: 1px solid #393939;
  text-shadow: none;
  color: #fff;
  background: #474746;
}

.views-field-field-slide-title .field-content {
  margin-left: 10px;
}

.views-slideshow-cycle-processed .views-slideshow-controls-bottom, .views-slideshow-cycle-processed .views-slideshow-controls-top {
  display: block;
  position: relative;
  z-index: 100;
  margin-top: -70px;
  text-align: right;
  width: 30%;
  margin-right: 5px;
}

.views-slideshow-controls-text a {
  color:#000;
}

#views_slideshow_controls_text_slide_show-block_1 {
  margin-right: 5px;
}

#views_slideshow_slide_counter_slide_show-block_1 {
  margin-right: 5px;
}

.views-field-field-slide-title a {
  color: #fff;
  text-decoration: none;
}
